<div class='nav'>
  <ul class='lists-left'>
    <% if signed_in? %>
      <li><%= link_to current_user.name, '#', class: "user-name" %></li>
      <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
    <% else %>
      <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
      <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
    <% end %>
  </ul>
  <ul class='lists-right'>
    <li><button class="level-btn" id="easy">初級</button></li>
    <li><button class="level-btn" id="normal">中級</button></li>
    <li><button class="level-btn" id="hard">上級</button></li>
  </ul>
</div>