<%= render "shared/header" %>

<button id="easy">初級</button>
<button id="normal">中級</button>
<button id="hard">上級</button>
<div oncontextmenu="return false">
  <table>
    <thead>
      <tr>
        <th id="time" colspan="3">000</th>
        <th id="counter" colspan="3">000</th>
      </tr>
    </thead>
    <tbody id="feild"></tbody>
  </table>
</div>