<%= render "shared/header" %>

<div class="game-area", oncontextmenu="return false">
  <table>
    <thead>
      <tr>
        <th id="time" colspan="3">000</th>
        <th id="counter" colspan="3">000</th>
      </tr>
    </thead>
    <tbody id="field"></tbody>
  </table>
</div>

<div class="record-area">
  1位<%= @games[0].time %><%= @games[0].user.name %>
</div>